<footer>

  <nav class="navigation">
    <ul>
      <li><a href="{{ site.url }}" alt="About">About</a></li>
      <li><a href="/blog" alt="Blog">Blog</a></li>
      <li><a href="#" alt="Top" onclick="javascript:$('html').animate({scrollTop: 0}, 500)">Top</a></li>
    </ul>
  </nav>

  <div class="copyright">
    <span>&copy; Javier Acero {{ 'now' | date: "%Y" }}</span>
  </div>

  <div class="social">
    <a href="https://twitter.com/jacegu" title="Javier Acero on Twitter"><i class="fa fa-twitter"></i></a>
    <a href="https://github.com/jacegu" title="Javier Acero on GitHub"><i class="fa fa-github"></i></a>
    <a href="https://instagram.com/jacegu" title="Javier Acero on Instagram"><i class="fa fa-instagram"></i></a>
  </div>

</footer>
