---
layout: default
---

<article id="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="header">
    <h1 class="title" itemprop="name headline">{{ page.title | escape }}</h1>

    {% if page.picture %}
      <figure>
        <img src={{ page.picture }} alt="{{ page.title | escape }}"></img>
      </figure>
    {% endif %}
  </header>

  <aside class="meta">
    <span class="date">Published on {{ page.date | date: "%B %Y" }}</span>
  </aside>

  <section class="content">
    <p class="description">{{ page.excerpt }}</p>
    <div itemprop="articleBody">
      {{ content }}
    </div>
  </section>

</article>
